<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ping Me</title>
  <link rel="stylesheet" href="/static/pingme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <header>
    <div class="logo">APT2002</div>
    <nav>
      <a href="/" class="nav-link">Home</a>
      <a href="#" class="nav-link active">Pingme</a>
      <a href="/start" class="nav-link">Startexam</a>
      
    </nav>
  </header>

  <div class="half-circle left"></div>
  <div class="half-circle right"></div>

  

  <main class="fade-up delay-10">
    <section class="contact-info">
      <h1><span class="bold">Ping</span> Me</h1>
      <div class="info">
        

        <p class="label">Email Address</p>
        <p>
          <a href="mailto:sharafuclash@gmail.com" target="_blank">
      <i class="fa-solid fa-envelope"></i> sharafuclash@gmail.com
    </a>
        </p>

         <p class="label">Medium </p>
  <p>
    <a href="https://apt2002.medium.com/" target="_blank">
      <i class="fa-brands fa-medium"></i> apt2002.medium.com
    </a>
  </p>

  <p class="label">GitHub</p>
<p>
  <a href="https://github.com/sharafu-sblsec" target="_blank">
    <i class="fa-brands fa-github"></i> github.com/sharafu-sblsec
  </a>
</p>
      </div>
    </section>
  </main>

<script src="{{ url_for('static', filename='boom2.js') }}"></script>
  <script src="/static/boom2.js"></script>
</body>
</html>
